:root {
  --basic-color: red ;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: verdana, serif;
  overflow: hidden;
}
.article-title {
  display: flex;
  flex-direction: row;
}
.article-title h1 {
  font-size: 30px;
  text-align: center;
  color: var(--basic-color);
}
.article-body {
  width: 75%;
  margin: 40px;
}
@media screen and (max-width: 800px) {
  .article-container {
    width: 100%;
    margin: 0;
  }
}
.article-text {
  font-weight: 100;
}
.article-loading-text {
  textAlign: center;
  fontSize: 50px;
}
.article-nav {
  textAlign: left;
  fontSize: 50px;
}

.rank-form{
  fontSize: 50px;
   color: var(--basic-color);
}

.rank-form input{
  width: 30px
}

.list {
  list-style: circle;
}
.footer {
}

